body{margin:0 20%;
background-image: url(/img/2.jpg);
color:darkorange;
}
about{display: inline-block;}
span{display: block;}
h1{font-family: 'Roboto', sans-serif;
color: blueviolet
;}
h2{font-family: 'Oswald', sans-serif;
  color:cornflowerblue  
}
p{font-size:22px; }
